.body{
    width: 100%;
    background-color: #634c9e;
    height: 94vh;
    color: white;
    display: block;
}
.body-heading{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    width: 100%;
    color: white;
    background-color: #634c9e;
}
.btn-logout{
    padding: 10px;
    background-color:rgb(158, 56, 56);
    border-radius: 5px;
    color: white;
    border: none;
    transition: 0.4s;
    transition-timing-function: ease;
    text-decoration: none;
}
.btn-logout:hover{
    background-color: rgb(12, 75, 158);
}
.btn-add{
    padding: 10px;
    background-color:#9c3863;
    border-radius: 5px;
    color: white;
    border: none;
    transition: 0.4s;
    transition-timing-function: ease;
    text-decoration: none;
}
.btn-add:hover{
    background-color: rgb(8, 204, 204);
}
table{
    width: 100%;
}
tr{
    text-align: center;
    border-bottom: 1px solid rgb(145, 145, 145);
    transition: 0.4s;
    transition-timing-function: ease;
}
tr:hover{
    background-color: rgb(158, 72, 151);
}
th{
    padding: 15px;
}
td{
    text-align: center;
    padding: 15px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.modal-form{
    width: 50%;
    position: absolute;
    top: 15%;
    left: 25%;
    color:white;
    background-color: rgb(158, 72, 151);
    padding: 20px;
    border-radius: 10px;
}
.test{
    width: 100%;
    background-color: #634c9e;
    height: 100%;
    color: white;
}
.heading{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.clause-table{
    padding-top:50px;
    padding-bottom: 50px;
}