.register{
    display: flex;
    background-color: #634c9e;
    height: 100vh;
}
.form{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    position: absolute;
    top: 30%;
    right: 40%;
}
.btn-register{
    margin-top: 10px;
    padding: 10px;
    background-color:#634c9e;
    border-radius: 5px;
    color: white;
    border: none;
    transition: 0.4s;
    transition-timing-function: ease;
}
.btn-register:hover{
    background-color: rgb(8, 204, 204);
}
.btn-cancel{
    margin-top: 10px;
    padding: 10px;
    background-color:#a3436c;
    border-radius: 5px;
    color: white;
    border: none;
    transition: 0.4s;
    text-decoration: none;
    transition-timing-function: ease;
}
.btn-cancel:hover{
    background-color: rgb(8, 204, 204);
}
.buttons{
    display: flex;
    justify-content: space-between;
}